*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    position: absolute;
    left: 0;
    right: 0; 
    bottom: 0;
    top: 0;
    margin: auto;
    transform: perspective(900px) translateZ(200px) rotateX(80deg) rotate(-45deg);
    transition: all 1s ease-in;
    box-shadow: -70px 70px 50px 0px rgb(65 49 49 / 90%);
}
img:hover{
    transform: rotateX(0) rotate(0);
    box-shadow: none;
}